@use 'src/styles/vars';
@use 'src/styles/index';

@media (max-width: 1200px) {

  #dog-search-page{
    & .search-div{
      background-color: #4c8582a2;
    }
  }
  #user-search-page{
    & .search-div{
      background-color: #40854681;
    }
  }

  #dog-search-page, #user-search-page{
    display: flex;
    justify-content: center;
    background-image: url(../../assets/img/pexels-fwstudio-139306.jpg);
    background-size: contain;
    background-repeat: repeat;
    padding-top: 22%;
    padding-bottom: 5%;
    min-height: 100vh;

    & .search-div{
      display: flex;
      justify-content: center;
      align-items: center;
      width:80%;
      min-height: 100%;
      border-radius: 30px;
      display:flex;
      justify-content: center;
      flex-direction: column;
      box-shadow: 2px 2px 10px black;
      padding-bottom: 5%;
      padding-top: 8%;

      & #dog-searchbar, #user-searchbar{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 80%;
        background-color: vars.$primaryDarkColor;
        border-radius: 15px;
        box-shadow: 1px 1px 3px black;

        & img{
          padding-top:10%;
          width: calc(var(--index) / 1 );
          height: calc(var(--index) / 1 );
        }

        & input {
          width: 50%;
          outline:none;
          border: none;
          font-size: calc(var(--index) / 2);
          transition: 2s ;
          background: transparent;
        }    
        & input::placeholder {
          color: vars.$primaryLightColor;
          font-size: calc(var(--index) / 1.7)
        }  
      }

      & .cards{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        height: 80%;
        & .card {
          background-color: #14110db9;
          margin: calc(var(--index) * 3);
          width: calc(var(--index) * 18);
          height: calc(var(--index) * 25);
          border-radius: 10px;
          overflow: hidden;
          cursor: pointer;
          position: relative;
          color: vars.$primaryLightColor;
          box-shadow: 2px 2px 10px black;

          & img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.25;
            z-index: 1;         
          }

          & .card-content {
            height: 100%;
            padding: 10%;
            padding-top: 30%;
            background-color: vars.$primaryDarkColor;

            & h1 {
              color: vars.$primaryLightColor;
              font-size:calc(var(--index) * 2 ) ;
              padding-bottom:10% ;
              background-color: vars.$primaryDarkColor;
              opacity: 1;
              border-radius: 10px 10px 0px 0px;
              z-index: 3;
              text-shadow: 3px 3px 10px rgb(0, 0, 0);
            }

            & p{
              padding: 2.5%;
              background-color: vars.$primaryDarkColor;
              border-radius: 0px 0px 10px 10px;
              z-index: 3;
              text-shadow: 3px 3px 10px rgb(0, 0, 0);
            }

            & a {
              bottom: 0;
              left: 0;
              position: absolute;
              opacity: 0;
              transition: opacity .3s ease-out;
              font-size: calc(var(--index) / 2);
              height:100%;
              width: 100%;
              color: inherit;
              text-decoration: none;
              z-index: 1;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1200px){

  #dog-search-page{
    background-image: url(../../assets/img/pexels-viktorija-stankevičiūtė-12729351.jpg);
    & .search-div{
      background-color: #4c8582a2;
    }
  }
  #user-search-page{
    background-image: url(../../assets/img/pexels-aleksa-kalajdzic-3780917.jpg);
    & .search-div{
      background-color: #40854681;
    }
  }

  #dog-search-page, #user-search-page{  
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: 10%;
    background-repeat: no-repeat;
    padding:4%;
    height:87vh;

    &  .search-div{
      width:calc(var(--index) * 60 );
      height: 90%;
      border-radius: 30px 10px 10px 30px;
      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      box-shadow: 2px 2px 10px black;
      overflow: auto;
      
      & #dog-searchbar, #user-searchbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height:6%;
        width: 3.7%;
        background-color: vars.$primaryDarkColor;
        border-radius: 50px;
        box-shadow: inset 4px 4px 6px #070605, inset -4px -4px 6px #473a33;
        padding-right: 1%;
        transition: 2s ;
        margin: 2%;
        & img{
          padding-top:10%;
          width: calc(var(--index) / 1 );
          height: calc(var(--index) / 1 );
        }

        & input {
          color: vars.$primaryLightColor;
          width: 0%;
          outline:none;
          border: none;
          font-size: calc(var(--index) / 2);
          transition: 2s ;
          background: transparent;
        }

        & input::placeholder {
          color: vars.$primaryLightColor;
          font-size: calc(var(--index) / 1.7)
        }
      }

      & #dog-searchbar:hover input, #user-searchbar:hover input{
        width: 80%;
        transition: 2s ;
      }

      & #dog-searchbar:hover, #user-searchbar:hover {
        width: 25%;
        transition: 1.5s ;
        padding-left: 2%;
        padding-right: 2%;
      }

      & .cards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80%;

        & .card {
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 3%;
          background-color: #14110db9;
          width: calc(var(--index) * 9);
          height: calc(var(--index) * 12);
          border-radius: 8%;
          overflow: hidden;
          cursor: pointer;
          position: relative;
          color: vars.$primaryLightColor;
          box-shadow: 2px 2px 10px black;
          & img {
            position: absolute;
            object-fit: cover;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            opacity: 0.9;
            transition: opacity .2s ease-out;        
            border: 2px solid vars.$primaryDarkColor;  
            border-radius: 8%;
          }

          & .card-content {
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            text-overflow:ellipsis;

            & :hover {
              background-color: #14110db9;
              z-index: 1;
            }

            & h1 {
            width: 100%;
            font-size: calc(var(--index) / 2 );
            position: absolute;
            bottom: 0;
            transition: inset .3s .1s ease-out;
            font-weight: normal;
            text-transform: uppercase;
            color: vars.$primaryLightColor;
            z-index: 2;
            background-color:vars.$primaryDarkColor;
            opacity: 0.8;
            border-radius: 10px 10px 10px 10px;
            padding: 7%;
            box-shadow: 2px 2px 10px black;
            }

            & p, a {
              left: 0;
              position: absolute;
              opacity: 0;
              transition: opacity .3s ease-out;
              font-size: calc(var(--index) / 2);
            }

            &  p {
              padding: 10%;
              width: 100%;
              max-height: 80%;
              color: vars.$primaryLightColor;
              text-shadow: 1px 1px 10px rgb(0, 0, 0);
              z-index: 2;
            }

            &  a {
              height:100%;
              width: 100%;
              color: inherit;
              text-decoration: none;
              z-index: 3;
            }

            &:hover h1 {
              opacity: 1;
              z-index: 2;
              color: vars.$primaryLightColor;
              inset: auto auto 70% 0%;
              transition: inset .3s ease-out;
              text-shadow: 2px 2px 20px rgb(255, 230, 196);
            }

            &:hover p{
              line-height:calc(var(--index) / 1.5 ) ;
              max-width: 100%;
              max-height: 60%;
              inset: auto auto 0% 0%;
              background-color: vars.$primaryDarkColor;
              opacity: 0.8;
              transition: opacity .5s .1s ease-in;
              border-radius: 10px;
              padding: 8%;
              z-index: 2;
            }

            &:hover a{
              z-index: 3;
              height: 100%;
              opacity: 0;
              transition: opacity .5s .1s ease-in;
              border-radius: 10px;
            }
            
            &:hover img {
              transition: opacity .3s ease-in;
              opacity: 1;
            }    
          }
        }
      }
    }
  }
}
