@use 'src/styles/vars';
@use 'src/styles/index';

@media (max-width: 1080px) {

  #account-page{
    display: flex;
    justify-content: center;
    background-image: url(../../../img/pexels-cátia-matos-1072179.jpg);
    background-size: cover;
    background-position: 10%;
    background-repeat: no-repeat;
    padding-top: 3.5%;
    padding-bottom: 3.5%;

    &  #account-div{
      padding: 5%;
      margin-top: 18%;
      width:80%;
      height: 88%;
      border-radius: 30px 10px 10px 30px;
      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.555);
      box-shadow: 2px 2px 10px black;
      overflow: auto;

      & .account-cards{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 90%;
        height: 100%;

        & .account-card {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #14110db9;
          margin: 4%;
          width:80%;
          height: 80%;
          border-radius: 20px;
          overflow: hidden;
          padding: 5%;
          position: relative;
          color: vars.$primaryLightColor;
          box-shadow: 3px 3px 10px #f2cc9644;

          & .account-card-header {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            & .account-title {
              padding: 2%;
              border-radius: 6px;
              background-color: #031b0a83;
              font-size:calc(var(--index) / 1.2);
              width: 70%;
              text-align: center;
              box-shadow: 0px 0px 8px rgba(1, 110, 37, 0.39);

              & h1{
                color: vars.$primaryLightColor;
              }
            }

            & .account-delete-button{
              display: flex;
              align-items: center;
              justify-content: flex-end;
              width: 15%;

              & button{
                color: vars.$primaryLightColor;
                box-shadow: 2px 2px 10px black;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                height: 65%;
                width: 55%;
                border-radius: 3px;
                font-size:calc(var(--index) / 1.5);
                background-color: rgb(56, 85, 60);
              }
            }
          }

          & .account-card-image{
            height:35%;
            & img {
              width: calc(var(--index) * 7);
              height: calc(var(--index) * 7);   
              border: calc(var(--index) / 12) solid vars.$primaryLightColor;  
              box-shadow: 2px 2px 10px black;
              border-radius: 10px;
              margin-top: 20%;
              margin-bottom: 20%;
            }
          }

          & .account-card-content{
            margin-top: 5%;
            margin-bottom: 3%;
            line-height:calc(var(--index) * 1.2);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height:55%;
            width: 85%;
            font-size:calc(var(--index) * 1);
            background-color: #031b0a41;
            box-shadow: 1px 1px 8px rgba(1, 110, 37, 0.39);
            border-radius: 6px;
            padding: 1%;
          }
        }

        & .account-modification-link{
          display: flex;
          justify-content: space-around;
          text-align: center;
          width: 100%;
          font-size: calc(var(--index) * 0.8);
          & a{
            color: vars.$primaryLightColor;
            margin-top: 9%;
            background: rgb(14, 59, 29);
            height: calc(var(--index) * 1.8);
            border-radius: 20px;
            cursor: pointer;
            font-weight: 600;
            box-shadow: 2px 2px 2px #146e37, -2px -2px 2px #070605;
            transition: 0.5s;
            padding: 4.5%;
            margin-bottom: 2%;
          }
        }
      }
    }
  }
}

@media (min-width: 1080px) {

  #account-page{
    
    display: flex;
    justify-content: center;
    background-image: url(../../../img/pexels-cátia-matos-1072179.jpg);
    background-size: cover;
    height:83.5vh;
    background-position: 10%;
    background-repeat: no-repeat;
    padding-top: 3.5%;

    &  #account-div{
      width:calc(var(--index) * 60 );
      height: 95%;
      border-radius: 30px 10px 10px 30px;
      display:flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.555);
      box-shadow: 2px 2px 10px black;
      overflow: auto;

      & .accountcards{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 80%;
        height: 100%;

        & .account-card {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          background-color: #14110db9;
          margin: 4%;
          width:25%;
          height: 80%;
          border-radius: 20px;
          overflow: hidden;
          padding: 2%;
          position: relative;
          color: vars.$primaryLightColor;
          box-shadow: 3px 3px 10px #f2cc9660;

          & .account-card-header {
            display: flex;
            justify-content: flex-end;
            width: 100%;

            & .account-title {
              padding: 2%;
              border-radius: 6px;
              background-color: #031b0a83;
              font-size:calc(var(--index) / 1.2);
              width: 70%;
              text-align: center;
              box-shadow: 0px 0px 8px rgba(1, 110, 37, 0.39);
            }

            & .account-delete-button{
              display: flex;
              align-items: center;
              justify-content: flex-end;
              width: 15%;

              & button{
                color:vars.$primaryLightColor;
                box-shadow: 2px 2px 10px black;
                display: flex;
                align-items: center;
                justify-content: center;
                text-transform: capitalize;
                height: 65%;
                width: 55%;
                border-radius: 3px;
                font-size:calc(var(--index) / 1.7);
                background-color: rgb(56, 85, 60);
              }
            }

            & button:hover{
              box-shadow: 0px 0px 5px rgba(0, 247, 82, 0.603);
            }
          }

          & .account-card-image{
            height:35%;

            & img {
              width: calc(var(--index) * 5);
              height: calc(var(--index) * 5.5);   
              border: calc(var(--index) / 12) solid vars.$primaryLightColor;  
              box-shadow: 2px 2px 10px black;
              border-radius: 40%;
              margin-top: 20%;
              margin-bottom: 20%;
            }
          }

          & .account-card-content{
            margin-top: 10%;
            margin-bottom: 3%;
            line-height:calc(var(--index) / 1.3);
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            height:55%;
            width: 85%;
            font-size:calc(var(--index) / 1.8);
            background-color: #031b0a41;
            box-shadow: 1px 1px 8px rgba(1, 110, 37, 0.39);
            border-radius: 6px;
            padding: 1%;
          }
        }

        & .account-modification-link{
          display: flex;
          justify-content: space-around;
          text-align: center;
          width: 100%;
          font-size: calc(var(--index) / 2.2);

          & a{
            color: vars.$primaryLightColor;
            margin-top: 9%;
            background: rgb(14, 59, 29);
            height: calc(var(--index) * 1.3);
            border-radius: 20px;
            cursor: pointer;
            font-weight: 600;
            box-shadow: 2px 2px 2px #146e37, -2px -2px 2px #070605;
            transition: 0.5s;
            padding: 4%;
            margin-bottom: 2%;
          }
          
          & a:hover {
            box-shadow: none;
          }
        }
      }
    }
  }
}
